 [[source]]
    url = "https://pypi.python.org/simple"
    verify_ssl = true

 [packages]
    django = "*"
    dj-database-url = "*" 
    psycopg2 = "*" 
    gunicorn = "*" 
    whitenoise = "*" 
    django-mako-plus = "*" 
    astroid = "*"
    awsebcli = "*"
    botocore = "*"
    cement = "*"
    certifi = "*"
    django-bootstrap3-datetimepicker = "*"
    django-polymorphic = "*"
    django-username-email = "*"
    dockerpty = "*"
    docopt = "*"
    docutils = "*"
    isort = "*"
    jedi = "*"
    jmespath = "*"
    lazy-object-proxy = "*"
    Mako = "*"
    MarkupSafe = "*"
    mccabe = "*"
    parso = "*"
    pathspec = "*"
    pipenv = "*"
    prompt-toolkit = "*"
    ptpython = "*"
    Pygments = "*"
    pylint = "*"
    python-dateutil = "*"
    pytz = "*"
    PyYAML = "*"
    requests = "*"
    semantic-version = "*"
    six = "*"
    speedtest-cli = "*"
    stripe = "*"
    tabulate = "*"
    termcolor = "*"
    virtualenv = "*"
    virtualenv-clone = "*"
    wcwidth = "*"
    websocket-client = "*"
    wrapt = "*"

 [requires] 
    python_version = "3.6" 