#image-thumbnails {
  list-style-type: none;
  padding-left: 0;
  padding-top: 10px;
  float: left;
}

#image-thumbnails > li {
  padding: 5px;
}

.images {
  max-height: 50px;
  max-width: 50px;
  padding: 5px;
}

#main-image-div {
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 10px;
  float: left;
}

#product-info {
  padding-top: 15px;
}

#buy-now {

}

#quantity {
  border-radius: 5px;
  border: 2px solid #44BF9E;
  text-align: center;
}

textarea:focus, input:focus{
  outline: none;
}

label {
  display: inline-block;
  padding-right: 10px;
  font-weight: bold;
  padding-top: 2px;
}

#id_quantity {
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid #44BF9E;
  text-align: center;
  float: right;
  display: inline-block;
}

form#form {
  float: right;
}

p.text-center {
  padding: 0px;
  text-align: right;
  float: right;
}

p {
  margin-bottom: 5px;
}