#maintenance {
  color: #3184BB;
  background-color: #D9EDF7;
  font-size: 16px;
  text-align: center;
}

#header_navbar {
  background-color: black;
  border: none;
  margin-bottom: auto;
}
#header_navbar .navbar-brand {
  float: left;
}
#header_navbar .navbar-brand img {
  padding: 0;
}
#header_navbar li.active > a {
  color: white;
  border-radius: 6px;
  background-color: #44BF9E;
}
#header_navbar li.active > a:hover {
  color: black;
  background-color: #44BF9E;
}
#header_navbar li > a {
  font-family: 'Fredoka One', cursive;
  text-transform: none;
  color: white;
  /* font-weight: bold; */
  font-size: 13px;
  padding: 7px;
}
#header_navbar li > a:hover {
  color: #44BF9E;
}

#navbar_login {
  padding-right: 15px;
}
#navbar_login_dropdown {
  color: black !important;
  font-weight: bold !important;
}
.navbar .navbar-brand {
  padding-top: 5px;
}

@media (max-width: 992px) {
  #top, #content, #bottom {
    margin-left: 0;
    margin-right: 0;
  }
  #left, #right {
    position: relative;
    width: auto;
  }
}

#left {
  padding: 10px;
  left: 15px;
}

#right {
  padding: 10px;
}

#content {
  padding: 10px;
}

#footer {
  padding: 8px;
  text-align: center;
}

#btn-teal {
  color: white;
  background-color: #44BF9E;
  border-color: #44BF9E;
  font-weight: bold;
}

#navtog {
  color: white;
}

#top_button {
  color: white;
  background-color: #44BF9E;
  border-color: #000;
  margin-left: 5em;
  margin-top: 25px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
