html, body {
    margin: 0;
    padding: 0;
}

header h1 {
    margin: 0;
    padding: 0;
}

main {
    margin: 0;
    padding: 0;
}

#maintenance {
  color: #3184BB;
  background-color: #D9EDF7;
  font-size: 16px;
  text-align: center;
}

#header_navbar {
  background-color: black;
  border: none;
  margin-bottom: auto;
}
#header_navbar .navbar-brand {
  float: left;
}
#header_navbar .navbar-brand img {
  padding: 0;
}
#header_navbar li.active > a {
  color: black;
  border-radius: 6px;
  background-color: #44BF9E;
}
#header_navbar li.active > a:hover {
  color: black;
  background-color: #44BF9E;
}
#header_navbar li > a {
  font-family: 'Fredoka One', cursive;
  text-transform: none;
  color: white;
  /* font-weight: bold; */
  font-size: 13px;
  padding: 7px;
}
#header_navbar li > a:hover {
  color: #44BF9E;
}

#navbar_login {
  padding-right: 15px;
}
#navbar_login_dropdown {
  color: black !important;
  font-weight: bold !important;
}
.navbar .navbar-brand {
  padding-top: 5px;
}

@media (max-width: 992px) {
  #top, #content, #bottom {
    margin-left: 0;
    margin-right: 0;
  }
  #left, #right {
    position: relative;
    width: auto;
  }
}

main {
  margin-left: 0;
}

#content-middle {
  position: relative;
}

#left {
  position: absolute;
  width: 240px;
  top: 0;
  left: 15px;
  bottom: 0;
  padding: 10px;
}

#content {
  margin-left: 240px;
  margin-right: 240px;
  padding: 10px;
}

#right {
  position: absolute;
  width: 270px;
  top: 0;
  right : 15px;
  bottom: 0;
  padding: 10px;
}

footer {
  padding: 8px;
  text-align: center;
}

#btn-teal {
  color: black;
  background-color: #44BF9E;
  border-color: #44BF9E;
}

#navtog {
  color: white;
}
