#index_content {
  text-align: center;
  display: block;
  background-color: #EEE;
}

#top_content {
  min-height: 400px;
  padding: 20px;
  font-family: 'Fredoka One', cursive;
  background-image: url("/static/homepage/media/woodgrain.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .5);
}

#top_header {
  padding-top: 60px;
  vertical-align: middle;
  align-items: center;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#top_button {
  color: white;
  background-color: #44BF9E;
  border-color: #000;
  margin-left: 5em;
  margin-top: 25px;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#content {
  padding-top: 20px;
}

#skip_content {
  color: white;
  font-size: 12px;
  float: right;
}
