<%inherit file="app_base.htm" />

<%block name="content">
    <div class="content">
      <div class="text-center" id="div-products">
        <a href="/manager/product.create/" id="btn-teal" class='btn'>Create New Product</a>
      </div>
      <div>
        <table>
          <thead>
            <tr class="table100-head">
              <th class="column1">Product</th>
              <th class="column3">Category</th>
              <th class="column3">Product Type</th>
              <th class="column3">Price</th>
              <th class="column3">Quantity</th>
              <th class="column3">Manage Product</th>
            </tr>
          </thead>
          <tbody>
            %for product in name:
            <tr>
              <td class="column1">${ product.name }</td>
              <td class="column3">${ product.category }</td>
              <td class="column3">${ product.TITLE }</td>
              <td class="column3">$${ product.price }</td>
              <td class="column3">${ product.get_quantity() }</td>
              <td class="column3">
                <a href="/manager/product.edit/${ product.id }/" id="btn-teal" class='btn btn-sm'>Edit</a>
                <a href="/manager/product.delete/${ product.id }/" id="btn-teal" class='btn btn-sm'>Delete</a>
              </td>
            </tr>
            %endfor
          </tbody>
        </table>
      </div>
    </div>
</%block>
