<%inherit file="/homepage/templates/base.htm" />
<%! from catalog import models as cmod %>

<%block name="left">
<div>
  <h3 id="category-header">Category</h3>
  <ul id="category-list">
    <li id="${ 'ACTIVE' if selection is None else ''}"><a class="categories" href="/catalog/index/">All Products</a></li>
    %for cat in cmod.Category.objects.order_by('name'):
      <li id="${ 'ACTIVE' if cat == selection else ''}"><a class="categories" href="/catalog/index/${ cat.id }">${ cat.name }</a></li>
    %endfor
  </ul>
</div>
</%block>

<%block name="right">
<div id="recent-div">
<p id="recent-viewed">Recently viewed</p>
<ul id="image-thumbnails-app-base">
%for prod in request.last_five[1:6]:
  <li>
    <a id="product-link" href="/catalog/detail/${ prod.id }"><img class="image-app-base img-thumbnail" alt="Extra product image" src="${ prod.image_url() }"/></a>
    <p id="recent-prod-name">${ prod.name }</p>
  </li>
%endfor
</ul>
</div>
</%block>
