<%inherit file="app_base.htm" />
<%namespace name="fl" module="formlib.tags"/>

<%block name="content">
<ul id="image-thumbnails">
%for image in product.image_urls():
  <li><img class="images img-thumbnail" alt="Extra product image" src="${ image }"/></li>
%endfor
</ul>
<div id="main-image-div"><img id="main-image" class="img-fluid img-thumbnail" alt="Main product image" src="${product.image_url()}"/></div>
<div id="product-info">
  <h1>${ product.name | h}</h1>
  <h4>$${ product.price }</h4>
  <p>${ product.description | h}</p>
</div>

<% name = product.__class__.__name__ %>
<div id="buy-now">
  %if name == 'BulkProduct':
    <p>Quantity: <input id="quantity" type="number" name="quantity" min="1" max="${ product.quantity }" value="1">
  %endif
  <a href="/catalog/index"><button id="btn-teal" class='btn'>Buy Now!</button></a></p>
</div>

  <div id="form_content">
    <%fl:render>
    </%fl:render>
  </div>
    
</%block>
