<%inherit file="app_base.htm" />

<%block name="left">
<div>
  <ul id="category-list">
    <li id="${ 'ACTIVE' if selection is none else ''}"><a class="products" href="/catalog/index/">All Products</a></li>
    %for cat in category:
      <li id="${ 'ACTIVE' if cat == selection else ''}"><a class="products" href="/catalog/index/${ cat.id }">${ cat.name }</a></li>
    %endfor
  </ul>
</div>
</%block>

<%block name="content">
  <h1 id="cat-header">${ 'Products' if selection is none else selection.name }</h1>

  <div id="paginator" class="text-right">
    <a id="previous-page">Back</a>
    Page <span id="page-number">1</span> of ${ num_pages }
    <a id="next-page">Next</a>
  </div>

  <div id="catalog-container">
    <div id="catalog"></div>
  </div>
  Products products products
</%block>
