<%inherit file="app_base.htm" />

<%block name="left">
<div>
  <h3 id="category-header">Category</h3>
  <ul id="category-list">
    <li id="${ 'ACTIVE' if selection is None else ''}"><a class="products" href="/catalog/index/">All Products</a></li>
    %for cat in category:
      <li id="${ 'ACTIVE' if cat == selection else ''}"><a class="products" href="/catalog/index/${ cat.id }">${ cat.name }</a></li>
    %endfor
  </ul>
</div>
</%block>

<%block name="content">
  <h1 id="cat-header">${ 'All Products' if selection is None else selection.name }</h1>

  <div id="paginator" class="text-right">
    <a id="previous">&#8249;</a>
    Page <span id="page-number">1</span> of ${ num_pages }
    <a id="next">&#8250;</a>
  </div>

  <div id="catalog-container">
    <div id="products"></div>
  </div>
</%block>
