<%inherit file="app_base.htm" />

<%block name="top"></%block>
<%block name="left"></%block>
<%block name="content">
    <div id="about_content">
        <h2>About us</h2>
        <div class="row">
          <div id="abt-image" class="col-md-4">
              <img class="img-thumbnail" src="${ STATIC_URL }homepage/media/owner.jpg" alt="Picture of founder"/>
          </div>
          <div class="col-md-8">
          <h3>FOMO Mission</h3>
            <p>Our mission is to provide professional, affordable musical instruments for students and inspire in them a love and passion for music.</p>
          <h3>History of FOMO</h3>
            <p>
                FOMO was started in 1995 when CEO and founder Riley Wells was trying to find a local instrument shop to buy a trumpet
                for his son who was starting 5th grade band. Riley couldn't find any professional, affordable instrument shops nearby, and
                decided to take things into his own hands and start one. FOMO has since grown to 10 employees and we provide dozens of
                great, affordable instruments year after year.
            </p>
          <h3>Accessibility</h3>
            <p>
                We have taken great lengths to ensure that this website is completely accessible. We use hierarchical headings, alt text for images,
                clear links and text, and the ability to access any part of the website from the keyboard.
            </p>
          </div>
        </div>
      </div>
</%block>
<%block name="right"></%block>
