<%inherit file="base.htm" />

<%block name="menu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ${  'active' if request.dmp_router_page == 'index' else '' }"><a href="/index">Home</a></li>
          <li class="nav-item ${  'active' if request.dmp_router_page == 'about' else '' }"><a href="/about">About</a></li>
          <li class="nav-item ${  'active' if request.dmp_router_page == 'contact' else '' }"><a href="/contact">Contact</a></li>
          <li class="nav-item ${  'active' if request.dmp_router_page == 'faq' else '' }"><a href="/faq">FAQ</a></li>
          <li class="nav-item ${  'active' if request.dmp_router_page == 'terms' else '' }"><a href="/terms">Terms</a></li>
          <li class="nav-item ${  'active' if request.dmp_router_page == 'sections' else '' }"><a href="/sections">Sections</a></li>
        </ul>
</%block>
