## this is the skeleton of all pages on in this app - it defines the basic html tags
<!DOCTYPE html>
<html>
    <meta charset="UTF-8">
    <head>
        <title>FOMO</title>

        ## add any site-wide scripts or CSS here; for example, jquery:
        <script src="${ STATIC_URL }homepage/media/jquery-3.3.1.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">

        ## render the static file links with the same name as this template
        <script src="/django_mako_plus/dmp-common.min.js"></script>
        ${ django_mako_plus.links(self) }

        ## add favicon
        <link rel="icon" href="${ STATIC_URL }homepage/media/favicon.ico"></link>

        <%block name="head_extra"></%block>
    </head>
    <body>
      <div id="maintenance"><%block name="maintenance"></%block></div>
        <nav id="header_navbar" class="navbar navbar-toggleable-md navbar-dark navbar-expand-lg">
          <button id="navtog" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a href="/homepage/index/" class="navbar-brand"><img class="navbar-brand" src="${ STATIC_URL }homepage/media/logo.png"/></a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <%block name="menu"></%block>
          <ul id="navbar_login" class="navbar-nav ml-auto">
          <%block name="cart"></%block>
          % if request.user.is_authenticated:
            <li class="nav-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Hi, ${ request.user.first_name }!<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a id="navbar_login_dropdown" href="/account/index/">My Account</a></li>
                <li><a id="navbar_login_dropdown" href="/account/logout/">Logout</a></li>
              </ul>
            </li>
          % else:
            <li class="nav-item dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Login<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a id="navbar_login_dropdown" href="/account/login/">Login</a></li>
                <li><a id="navbar_login_dropdown" href="/account/signup/">Signup</a></li>
              </ul>
            </li>
          % endif
          </ul>
          </div>
        </nav>


          <div id="top"><%block name="top"></%block></div>
          <div id="content-middle" class="row">
            <div id="left" class="col-md-2"><%block name="left"></%block></div>
            <div id="content" class="col-md-8"><%block name="content"></%block></div>
            <div id="right" class="col-md-2"><%block name="right"></%block></div>
          </div>
          <div id="bottom"><%block name="bottom"></%block></div>
        </body>

          <footer>
            <div id="footer">
              <hr />
              <%block name="footer">
                  <%! from datetime import datetime %>
                  &copy; Copyright FOMO ${ datetime.now().year }. All rights reserved.
              </%block>
            </div>
          </footer>
            <script src="https://code.jquery.com/jquery-3.3.1.min.js"  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
