<%inherit file="app_base.htm" />

<%block name="top"></%block>
<%block name="left"></%block>
<%block name="content">
      <div id="faq_content">
        <h2>Frequently Asked Questions</h2>
        <h3>1. Do you sell or rent musical instruments?</h3>
        <p>We do both! You can purchase a musical instrument outright and own it
          or you can rent it until you own it.</p>
        <h3>2. How many instruments do you have?</h3>
        <p>From oboes to bagpipes, we have it all! We have a wide variety of instruments,
          totalling over 30 different types.</p>
        <h3>3. How are you guys so successful?!</h3>
        <p>It's in our nature to be the best. It's our mission to serve our customers
          and provide incredible service and quality instruments.</p>
      </div>
</%block>
<%block name="right"></%block>
