<%inherit file="app_base.htm" />

<%block name="maintenance"></%block>
<%block name="top"></%block>
<%block name="left"></%block>

<%block name="content">
      <div id="index_content">
        <h1 class="index-header">Family Oriented Music Organization<h1>
        <img class="center img-fluid img-circle img-responsive img-thumbnail" src="${ STATIC_URL }homepage/media/cage.gif" align="middle"></img>
        <h4>Here at FOMO, we are all about the complete musical experience. We provide students with high quality, performance ready musical instruments to rent or to buy at a fraction of the cost of local competitors!
          <br><br>
        <i>"It's easy to play any musical instrument: all you have to do is touch the right key at the right time and the instrument will play itself."</i>
        - Johann Sebastian Bach</h4>
        <br/>
        <a href="/index" class='btn btn-success btn-lg'><b>Shop Now!</b></a>
      </div>
</%block>

<%block name="right"></%block>
<%block name="bottom"></%block>
