<%inherit file="app_base.htm" />

<%block name="top"></%block>
<%block name="left"></%block>
<%block name="content">
<div id="terms_content">
  <h1>FOMO Terms</h1>
  These Terms of Service apply to the executable code version of FOMO Chrome. Source code for FOMO Chrome is available free of charge under open source software license agreements at http://code.FOMO.com/chromium/terms.html.
  <br><br>
  <h2>1. Your relationship with FOMO</h2><br>

  1.1 Your use of FOMO’s products, software, services and web sites (referred to collectively as the “Services” in this document and excluding any services provided to you by FOMO under a separate written agreement) is subject to the terms of a legal agreement between you and FOMO. “FOMO” means FOMO Inc., whose principal place of business is at 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States. This document explains how the agreement is made up, and sets out some of the terms of that agreement.
  <br>
  1.2 Unless otherwise agreed in writing with FOMO, your agreement with FOMO will always include, at a minimum, the terms and conditions set out in this document. These are referred to below as the “Universal Terms”. Open source software licenses for FOMO Chrome source code constitute separate written agreements. To the limited extent that the open source software licenses expressly supersede these Universal Terms, the open source licenses govern your agreement with FOMO for the use of FOMO Chrome or specific included components of FOMO Chrome.
  <br>
  1.3 Your agreement with FOMO will also include the terms set forth below in the FOMO Chrome Additional Terms of Service and terms of any Legal Notices applicable to the Services, in addition to the Universal Terms. All of these are referred to below as the “Additional Terms”. Where Additional Terms apply to a Service, these will be accessible for you to read either within, or through your use of, that Service.
  <br>
  1.4 The Universal Terms, together with the Additional Terms, form a legally binding agreement between you and FOMO in relation to your use of the Services. It is important that you take the time to read them carefully. Collectively, this legal agreement is referred to below as the “Terms”.
  <br>
  1.5 If there is any contradiction between what the Additional Terms say and what the Universal Terms say, then the Additional Terms shall take precedence in relation to that Service.
  <br><br>
  <h2>2. Accepting the Terms</h2>
  <br>
  2.1 In order to use the Services, you must first agree to the Terms. You may not use the Services if you do not accept the Terms.
  <br>
  2.2 You can accept the Terms by:
  <br>
  (A) clicking to accept or agree to the Terms, where this option is made available to you by FOMO in the user interface for any Service; or
  <br>
  (B) by actually using the Services. In this case, you understand and agree that FOMO will treat your use of the Services as acceptance of the Terms from that point onwards.
  <br><br>
  <h2>3. Language of the Terms</h2>
  <br>
  3.1 Where FOMO has provided you with a translation of the English language version of the Terms, then you agree that the translation is provided for your convenience only and that the English language versions of the Terms will govern your relationship with FOMO.
  <br>
  3.2 If there is any contradiction between what the English language version of the Terms says and what a translation says, then the English language version shall take precedence.
  <br><br>
  <h2>4. Provision of the Services by FOMO</h2>
  <br>
  4.1 FOMO has subsidiaries and affiliated legal entities around the world (“Subsidiaries and Affiliates”). Sometimes, these companies will be providing the Services to you on behalf of FOMO itself. You acknowledge and agree that Subsidiaries and Affiliates will be entitled to provide the Services to you.
  <br>
  4.2 FOMO is constantly innovating in order to provide the best possible experience for its users. You acknowledge and agree that the form and nature of the Services which FOMO provides may change from time to time without prior notice to you.
  <br>
  4.3 As part of this continuing innovation, you acknowledge and agree that FOMO may stop (permanently or temporarily) providing the Services (or any features within the Services) to you or to users generally at FOMO’s sole discretion, without prior notice to you. You may stop using the Services at any time. You do not need to specifically inform FOMO when you stop using the Services.
  <br>
  4.4 You acknowledge and agree that if FOMO disables access to your account, you may be prevented from accessing the Services, your account details or any files or other content which is contained in your account.
  <br><br>
  <h2>5. Use of the Services by you</h2>
  <br>
  5.1 You agree to use the Services only for purposes that are permitted by (a) the Terms and (b) any applicable law, regulation or generally accepted practices or guidelines in the relevant jurisdictions (including any laws regarding the export of data or software to and from the United States or other relevant countries).
  <br>
  5.2 You agree that you will not engage in any activity that interferes with or disrupts the Services (or the servers and networks which are connected to the Services).
  <br>
  5.3 Unless you have been specifically permitted to do so in a separate agreement with FOMO, you agree that you will not reproduce, duplicate, copy, sell, trade or resell the Services for any purpose.
  <br>
  5.4 You agree that you are solely responsible for (and that FOMO has no responsibility to you or to any third party for) any breach of your obligations under the Terms and for the consequences (including any loss or damage which FOMO may suffer) of any such breach.
</div></%block>

<%block name="right"></%block>
